# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Testing outputs
/coverage

# Production builds
/build
/docs
/dist

# Environment variables
.env*
!.env.example  # Si tu souhaites conserver un exemple de fichier d'environnement

# Miscellaneous files
.DS_Store
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers spécifiques sensibles
/src/assets/profile.png

