._form_wrapper {
  display: flex;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  width: 35rem;
  height: 28em;
  padding: 2em;
}

.submit-btn {
  margin-right: 20px;
  text-decoration: none;
  color: #ffff;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
}
.submit-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #ec704c;
}

.contact_msg {
  font-size: 4rem;
  margin: 5rem;
}

@media (max-width: 1024px) {
  ._form_wrapper {
    width: 70%;
    height: auto;
    margin: auto;
    padding: 2em;
  }
}
@media (max-width: 768px) {
  .contact {
    width: 80%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5em;
    flex-direction: column;
  }
  ._form_wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 2em;
  }
  .contact {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .contact {
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-direction: column;
  }
}